
@{
    ViewData["Title"] = "Contact";
}

<h1>@ViewData["Title"]</h1>

<p>
    This website is currently under construction. If you have any questions or concerns, please open an issue on <a href="https://github.com/CalvinSithideth/Project-Muscle/issues">GitHub</a>.
</p>