@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome To Project Muscle
    </h1>
    <h3>
        Build, hone, and drive muscle.
    </h3>
    <p>
        An experimental forum/messaging board, created to serve as a hub for bodybuilding, combat sports, and marksmanship.
    </p>
    <p>
        Learn more about the project <a href="https://github.com/CalvinSithideth/Project-Muscle">here</a>.
    </p>
</div>
