@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website will collect user data upon creation of an account. User data may then be downloaded or deleted entirely in accordance with GDPR.</p>
